@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500&display=swap');


html * {
    font-family: Jost, Helvetica, Arial, serif;
}

input {
    box-sizing: border-box;
}

a, a:visited, a:active{
    text-decoration: none;
    color: #2D7FF9;
}

a:hover {
    color: rgb(6, 89, 211);
}

.form-control {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.form-label {
    margin-bottom: 4px;
}

.form-input {
    width: 100%;
    height: 36px;
    border: 1px solid rgb(196, 196, 196);
    transition: border-color 0.15s ease-in-out 0s;
    border-radius: 5px;
    outline: none;
    font-size: 14px;
}

.form-input:focus {
    border: 1px solid black;
}

.form-input-error {
    border: 1px solid red;
}

.password-input {
    width: 100%;
}

.form-button {
    width: 100%;
    height: 38px;
    color: white;
    font-weight: 500;
    background-color: #3C4D76;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-button:disabled {
    opacity: 0.65;
    cursor: default;
}

.form-button:hover {
    box-shadow: rgb(60 77 118 / 65%) 0px 8px 25px -8px
}

.form-support-text{
    margin-top: 36px;
    text-align: center;
}

.form-text{
    font-size: 12px;
    color: #1F2A44;
}

.error-text {
    color: red;
}

.visibility-icon {
    width: 22px;
    height: 22px;
}


.form-alternative-text{
    font-size: 16px;
}

.password-toggle {
    position: relative;
    float: right;
    margin-top: -30px;
    margin-right: 10px;
    cursor: pointer;
}

.not-verified-container {
    background-color: rgba(255,159,67,.2);
    color: #ff9f43;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.important-text {
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-weight: 500;
}

.helper-text {
    font-size: 12px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% {  transform: rotate(359deg); }
}

.loading-icon {
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
}

.password-strength-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.strength-color {
    width: 34px;
    height: 6px;
    border-radius: 5px;
}

.red {
    background-color: red;
}

.yellow {
    background-color: #c7b121;
}

.green {
    background-color: green;
}

.hidde {
    visibility: hidden;
}

.none {
    display: none;
}
